<div class="cart-header">
  <span>
    <p><strong>Donut</strong></p>
    <p><strong>Calories</strong></p>
    <p><strong>Price</strong></p>
  </span>
  <div class="cart-items-container">
    <app-cart-item
      *ngFor="let item of displayCart; let i = index"
      [cartItem]="item"
      [cartIndex]="i"
    ></app-cart-item>
  </div>
  <div class="cart-totals">
    <p>
      Total Calories: <strong> {{ totalCalories }}</strong>
    </p>
    <p>
      Total Price:
      <strong>{{ totalPrice | currency }}</strong>
    </p>
    <button (click)="refresh()">Refresh</button>
  </div>
</div>
